@charset "UTF-8";
@import url("../webfonts/Eurostile_Reg/stylesheet.css");
@import url("../webfonts/Eurostile_RegObl/stylesheet.css");
html, body {
    height: 100%;
}
/*
body {
	background-color: #333333;
}
*/
body {
	width: 100%;
	background: #333333;
	overflow-x: hidden;
	overflow-y: auto;
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
.container {
	background-color: #FFFFFF;
	padding-top: 10px;
    width: 974px;
}
.fill { 
    min-height: 100%;
    height: 100%;
}
#branding {
	background-image: url(../assets/stahl-branding-220.png);
	width: 220px;
	height: 180px;
    margin-bottom: 10px:
}
h1 {
	font-family: Eurostile-Reg;
	text-align: center;
	font-size: 3.5em;
	line-height: 0.85em;
	margin-top: 20px;
}
h3 {
	font-family: Eurostile-RegObl;
	text-align: center;
	font-size: 2em;
}
.carousel {
	background-image: url(../assets/stahl-carousel-460.png);
	width: 460px;
	margin-left: auto;
	margin-right: auto;
	height: 243px;
}
.nav.nav-stacked {
	width: 220px;
	margin-top: 10px;
}
.nav.nav-pills.nav-stacked li{
	height: 37px;
	margin-bottom: 10px;
    background-color: #ffffff;
/*
    list-style-image: url(../assets/retracted-nav.png);
	background-repeat: no-repeat;
*/
	font-family: Eurostile-Reg;
	font-size: 1em;
	vertical-align: middle;
    -webkit-border-radius: 0px 5px 5px 0px;
    border-radius: 0px 5px 5px 0px;
    text-indent: 30px;
    padding-left: 0px;
    padding-top: 1px;
    padding-bottom: 0px;
}
.nav.nav-stacked li a{
	padding-left: 0px;
        margin-top: 0px;
    margin-bottom: 0px;
height: 16px;
        padding-top: 11px;
    padding-bottom: 10px;
}

.nav>li>a{
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}

.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #74a0c5;
    color: #ffffff;
/*
    padding-top: 8px;
    padding-bottom: 8px;
*/
}

.icon-white {
    background-image: url(../assets/glyphicons-halflings-white.png);
}
.feature-group {
	margin-top: 10px;
}
.btn-feature {
  background-color: hsl(267, 32%, 33%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#8867b0", endColorstr="#51396f");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#8867b0), to(#51396f));
  background-image: -moz-linear-gradient(top, #8867b0, #51396f);
  background-image: -ms-linear-gradient(top, #8867b0, #51396f);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8867b0), color-stop(100%, #51396f));
  background-image: -webkit-linear-gradient(top, #8867b0, #51396f);
  background-image: -o-linear-gradient(top, #8867b0, #51396f);
  background-image: linear-gradient(#8867b0, #51396f);
  border-color: #51396f #51396f hsl(267, 32%, 27.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.btn-lightbox {
  background-color: hsl(0, 0%, 0%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#383838", endColorstr="#000000");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#383838), to(#000000));
  background-image: -moz-linear-gradient(top, #383838, #000000);
  background-image: -ms-linear-gradient(top, #383838, #000000);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #383838), color-stop(100%, #000000));
  background-image: -webkit-linear-gradient(top, #383838, #000000);
  background-image: -o-linear-gradient(top, #383838, #000000);
  background-image: linear-gradient(#383838, #000000);
  border-color: #000000 #000000 hsl(0, 0%, -5.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.36);
  -webkit-font-smoothing: antialiased;
}
.bold{
  font-weight: Bold;
}
.lighter{
  font-weight: Lighter;
}

/*
From http://tympanus.net/Tutorials/CSS3PageTransitions/index3.html#about demo.css
*/
@-webkit-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-moz-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-o-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@-ms-keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}
@keyframes slideOut{
	0%{top:-30px; opacity: 0;}
	100%{top:0px; opacity: 1;}
}

/*
From http://tympanus.net/Tutorials/CSS3PageTransitions/index3.html#about style3.css
*/
.panel-left{
/*
	width: 98%;
*/
	width: 974px;
    min-height: 100%;
	position: absolute;
    top: 0px;
	background-color: #333333;
/*
	box-shadow: 4px -4px 4px rgba(0,0,0,0.2);
*/
	margin-left: -102%;
	z-index:2;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	-ms-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}
.panel-left:target{
	margin-left: 0%;
	background-color: #ffffff;
}
.panel-left.lightbox:target{
	margin-left: 0%;
	background-color: #333333;
    z-index: 150;
}
.lightbox h1{
    color: #ffffff !important;
}

.lightbox p{
    color: #ffffff !important;
}
.video iframe {
    display:block;
    margin-top: 20px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
.panel-left.feature{
	visibility:hidden;
}
.panel-left.feature:target{
	visibility:visible;
	margin-left: 0%;
	background-color: #fdf4ae;
    z-index: 50;
}
.feature-image img{
    margin-top: 10px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
}
#home:target ~ #header #navigation #link-home,
#portfolio:target ~ #header #navigation #link-portfolio,
#about:target ~ #header #navigation #link-about,
#contact:target ~ #header #navigation #link-contact{
	background: #000;
	color: #fff;
}
#header{
	position: absolute;
	z-index: 100;
	width: 220px;
	top: 20px;
}
#navigation {
	z-index:100;
}
/*
#navigation {
	margin-top: 20px;
	width: 235px;
	display:block;
	list-style:none;
	z-index:3;
}
#navigation a{
	color: #444;
	display: block;
	background: #fff;
	background: rgba(255,255,255,0.9);
	line-height: 50px;
	padding: 0px 20px;
	text-transform: uppercase;
	margin-bottom: 6px;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
	font-size: 14px;
}
#navigation a:hover {
	background: #ddd;
}
.content{
	right: 40px;
	left: 280px;
	top: 0px;
	position: absolute;
	padding-bottom: 30px;
}
.content h2{
	font-size: 110px;
	padding: 10px 0px 20px 0px;
	margin-top: 52px;
	color: #fff;
	color: rgba(255,255,255,0.9);
	text-shadow: 0px 1px 1px rgba(0,0,0,0.3);
}
.content p{
	font-size: 18px;
	padding: 10px;
	line-height: 24px;
	color: #fff;
	display: inline-block;
	background: black;
	padding: 10px;
	margin: 3px 0px;
}
*/
