@font-face {
	font-family: 'Eurostile-RegObl';
	src: url('2686AF_2_0.eot');
	src: url('2686AF_2_0.eot?#iefix') format('embedded-opentype'),
		url('2686AF_2_0.woff') format('woff'),
		url('2686AF_2_0.ttf') format('truetype');
}